* {
  font-family: "Brandon Grotesque";
  font-style: normal;
  font-weight: 500;
  src: url("BrandonGrotesque-Medium.woff2") format("woff2");
}

h2 {
  text-align: center;
  margin-top: 90px;
  color: #ec5d57;
  font-size: 22px;
}

input {
  border-radius: 6px;
  border: 2px solid lightgrey;
  margin-left: 700px;
  width: 500px;
  padding: 7px;
  font-size: 16px;
  margin-bottom: 15px;
}

label {
  margin-left: 718px;
  font-size: 14px;
}

select {
  border-radius: 6px;
  border: 2px solid lightgrey;
  justify-content: center;
  margin-left: 700px;
  width: 500px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 15px;
  text-align: start;
  background-color: #f3f3f3;
}

div > input:nth-child(1) {
  color: rgb(245 245 245 / 93.8%);
  background-color: #ec5d57;
  border: #ec5d57 solid 1px;
  border-radius: 16px;
  width: 95px;
  padding: 5px;
  font-size: 15px;
  margin-left: 1100px;
}

::placeholder {
  color: lightgrey;
}
