button {
  padding: 10px 28px;
  font-size: 19px;
}

button:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

thead > tr {
  background-color: black;
  font-size: 16px;
  color: white;
}

tbody > tr:nth-child(odd) {
  background-color: lightgrey;
}
