.container {
  margin: auto;
  width: 1150px;
  height: 800px;
  justify-content: center;
}

.row {
  display: flex;
}

.column-heading {
  column-width: 100%;
  margin: auto;
}

.column-one-fifth {
  column-width: 100%;
  flex-basis: calc(100% / 5);
}

img {
  width: 90%;
  height: 90%;
}

span.greyText {
  color: lightgrey;
}

span.Price {
  background-color: rgb(246 188 113 / 23.2%);
}

del {
  color: lightgrey;
}

h1,
p {
  font-family: "DM Sans";
}
